-*
*~
.#.*
*.o
*.lo
*.Plo
*.la
/m4
.deps
.libs
aclocal.m4
config.log
config.sh
config.status
config.h
config.guess
config.h.in
config.sub
configure
install-sh
ltmain.sh
depcomp
libtool
missing
autom4te.cache
compile
test-driver
test/*.log
test/*.trs
Makefile
Makefile.in
*~#
*\.rej#
stamp-h1
cliquer-*.tar.gz
src/cl
test/testcases
