name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    -  name: autotools
       run: autoreconf -ivf
    - name: configure
      run: ./configure
    - name: make
      run: make
    - name: make check
      run: make check

  build-windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - uses: actions/checkout@v6
    - name: Setup MSYS2 and install toolchain
      uses: msys2/setup-msys2@v2
      with:
        msystem: mingw64
        update: true
        install: >-
          mingw-w64-x86_64-autotools
          mingw-w64-x86_64-cc
    - name: autotools
      run: autoreconf -ivf
    - name: configure
      run: ./configure --prefix="${MINGW_PREFIX}"
    - name: make
      run: make
    - name: make check
      run: make check
